* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: var(--color-text);
    box-sizing: border-box;
}

:root {
    --color-bg: #232946;
    --color-headertext: #fffffe;
    --color-text: #b8c1ec;
    --color-bg-button:#eebbc3;
    --color-text-button: #232946;
    --color-stroke:#121629;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-text);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min(1200px, 100%);
    height: 100%;
    background-color: var(--color-bg);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    padding: 30px 50px;
    gap: 15px;
}

.header-title {
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-headertext);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-description {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 5fr;
    padding: 10px 50px;
    gap: 50px;
    margin-bottom: auto;
    height: 100%;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 25px;
}

.dashboard-title,
.tasks-section-title {
    font-size: 24px;
    color: var(--color-headertext);
}

.projects-section,
form.add-new-project-section {
    border-radius: 16px;
    border: 2px solid var(--color-stroke);
    padding: 20px;
}

.projects-section {
    height: 100%;
    margin-bottom: auto;
}

.projects-section ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.project-list-item {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 36px;
    border-radius: 8px;
}

.project-list-item-name,
button.project-delete-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

button.project-delete-button{
    visibility: hidden;
}

.project-list-item:hover {
    background-color: var(--color-bg-button);
}

.project-list-item.selected-project {
    background-color: var(--color-bg-button);
}

.project-list-item:hover .project-list-item-name,
.project-list-item.selected-project .project-list-item-name{
    color: var(--color-text-button);
}

.project-list-item:hover button.project-delete-button {
    visibility: visible;
}


form.add-new-project-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

label.new-project-label {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.new-project-interactive {
    display: flex;
    height: 30px;
    width: 100%;
    gap: 15px;
    justify-content: space-between;
    align-items: stretch;
}

.new-project-interactive input {
    padding: 10px;
    color: var(--color-stroke);
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    border: 0px solid var(--color-bg-button);
}

.new-project-interactive button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0.3rem 0.6rem;
    background-color: var(--color-bg-button);
    border: 0px solid var(--color-bg-button);
    color: var(--color-text-button);
    font-size: 20px;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 25px;
}

.task-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.add-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    font-size: 14px;
    height: 100%;
    padding: 0.3rem 1.2rem;
    border: 0px solid black;
    border-radius: 6px;
}

.task-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 100%;
    align-content: start;
}

.task-list-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    background-color: var(--color-text);
    height: 80px;
    padding: 15px;
    gap: 15px;
    border-radius: 8px;
}

.task-list-item.disabled {
    opacity: 0.45;
}

.task-list-texts-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.task-item-name,
.task-item-edit-title-input,
.task-delete-button,
.task-edit-button,
.task-edit-confirm-button,
.task-edit-cancel-button,
.task-item-duedate {
    display: flex;
    align-items: center;
}

.task-item-name,
.task-item-edit-title-input,
.task-item-duedate {
    justify-content: flex-start;
    color: var(--color-stroke);
}

.task-item-name,
.task-item-edit-title-input {
    font-size: 20px;
}

.task-item-duedate {
    font-size: 16px;
}

.task-delete-button,
.task-edit-button,
.task-edit-confirm-button,
.task-edit-cancel-button {
    justify-content: center;
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    padding: 0.3rem 1.2rem;
    border: 2px solid var(--color-text-button);
    border-radius: 5px;

    visibility: hidden;
}

.task-list-item.editing-task:not(.disabled) .task-delete-button,
.task-list-item.editing-task:not(.disabled) .task-edit-button,
.task-list-item.editing-task:not(.disabled) .task-edit-confirm-button,
.task-list-item.editing-task:not(.disabled) .task-edit-cancel-button {
    visibility: visible;
}

.task-list-item:hover:not(.editing-task):not(.disabled) .task-delete-button,
.task-list-item:hover:not(.editing-task):not(.disabled) .task-edit-button,
.task-list-item:hover:not(.editing-task):not(.disabled) .task-edit-confirm-button,
.task-list-item:hover:not(.editing-task):not(.disabled) .task-edit-cancel-button {
    visibility: visible;
}

.task-list-item:not(.editing-task) .task-item-edit-title-input,
.task-list-item:not(.editing-task) .task-edit-confirm-button,
.task-list-item:not(.editing-task) .task-edit-cancel-button {
    display: none;
}

.task-list-item.editing-task .task-item-name,
.task-list-item.editing-task .task-edit-button,
.task-list-item.editing-task .task-delete-button {
    display: none;
}


.footer,
.credits {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.footer {
    padding: 20px;
}