* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: min(100vw, 1000px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
}

.content {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    gap: 0px 50px;
    width: min(80%, 800px);
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 100%;
}

.content .location {
    grid-area: 1/1/2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;;
}

.weather-info {
    display: grid;
    grid-template: 1fr 4fr / 1fr;
    height: 100%;;
}

.weather-info.current {
    grid-area: 2/1/6/2;
}

.weather-info.forecast {
    grid-area: 2/2/6/3;
}

.weather-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

.weather-current {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 10px;
    height: 100%;
}

.temperature {
    grid-area: 1/1/4/4;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.temperature::after {
    content: "deg C";
    
}

.weather-type {
    grid-area: 1/4/2/5;
}

.humidity {
    grid-area: 2/4/3/5;
}

.humidity::after {
    content: "%";
}

.wind-info {
    grid-area: 3/4/4/5;
}

.content .weather-forecast {
    grid-area: 2/2/6/3;
}

form.user-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
}

input#search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    border-width: 0px;
}

form.user-interface button#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 3rem;
    width: min(250px, 100%);
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid grey;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: lightblue;
    width: 100%;
    padding: 15px;
}