@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@300;400;700&display=swap');

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Mukta Mahee', sans-serif;
}

:root {
    --color-light: #c2dfe9;
    --color-mid: #74a2b4;
    --color-dark: #374b5a;
    --color-accent:#fcd037;
    --color-grey:#e5e5e5;

}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--color-grey);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: var(--color-grey);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 20px;
}

.content {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(2, 1fr);
    gap: 0px 50px;
    width: min(100%, 800px);
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.content .location {
    grid-area: 1/1/2/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.weather-info {
    display: grid;
    grid-template: 1fr 9fr / 1fr;
    height: 100%;
    row-gap: 20px;
}

.weather-info.current {
    grid-area: 2/1/-1/2;
}

.weather-info.forecast {
    grid-area: 2/2/-1/3;
}

.weather-header {
    grid-area: 1/1/1/-1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    border-bottom: 2px solid var(--color-dark);
}

.weather-current {
    display: grid;
    grid-template: repeat(3, 1fr) / 3fr 2fr;
    gap: 10px;
    height: 100%;
}

.current.temperature {
    grid-area: 1/1/-1/2;
    font-size: 60px;
    text-align: center;
    border-right: 1px solid var(--color-dark); 
}

.current.temperature::before {
    content: "Temperature:";
    margin-bottom: 85px;
}

.current.type,
.current.humidity,
.current.wind-info {
    font-size: 22px;
    margin-left: 10px;
}

.current.temperature::before,
.current.type::before,
.current.humidity::before,
.current.wind-info::before {
    display: block;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
}

.current.type {
    grid-area: 1/2/2/3;
}
.current.type::before {
    content: "Condition:";
}

.current.humidity {
    grid-area: 2/2/3/3;
}

.current.humidity::before {
    content: "Humidity:";
}

.current.wind-info {
    grid-area: 3/2/4/3;
}

.current.wind-info::before {
    content: "Wind:";
}

.weather-forecast {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
}

.forecast-info {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr 5fr 1fr;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--color-dark);
}

.forecast-info:last-of-type {
    border-width: 0px;
}

.forecast-info>div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 100%;
}

form.user-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 800px);
    gap: 20px;
}

input#search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    border: 2px solid var(--color-dark);
    background-color: var(--color-grey);
}

input#search-bar:focus {
    background-color: var(--color-light);
}

form.user-interface button#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 3rem;
    width: min(250px, 100%);
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--color-dark);
    background-color: var(--color-accent);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-light);
    width: 100%;
    padding: 15px;
}