* {
    border: 1px solid black;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-main {
    position: relative;
    
}


.dropdown-main-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
}

.dropdown-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
}

.visible {
    display: flex;
}