* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

:root{
    --color-selected-start-shadow: rgba(180, 233, 213, 0.8);
    --color-selected-end-shadow: rgba(235, 179, 179, 0.8);
    --color-selected-highlighted-shadow: rgba(184, 219, 235, 0.8);

    --color-selected-start-border: rgb(201, 230, 219);
    --color-selected-end-border: rgb(224, 194, 194);
    --color-selected-highlighted-border: rgb(208, 222, 228);

    --color-selected-start-base: rgb(159, 238, 208);
    --color-selected-end-base: rgb(238, 159, 159);
    --color-selected-highlighted-base: rgb(159, 213, 238);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 30px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.boardContainer {
    display: grid;
}

.board-tile {
    width:75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    opacity: 1;
    transition: 0.1s ease-in-out;
}

.board-tile:hover {
    opacity: 0.85;
}

.dark-coloured-tile {
    background-color: rgb(50,50,50);
}

.light-coloured-tile {
    background-color: rgb(200,200,200);
}

.board-tile.highlighted {
    background-color: var(--color-selected-highlighted-base);
    box-shadow: 0 0 8px 3px var(--color-selected-highlighted-shadow);
    border-color: var(--color-selected-highlighted-border);
}

.board-tile.selected-start {
    background-color: var(--color-selected-start-base);
    box-shadow: 0 0 8px 3px var(--color-selected-start-shadow);
    border-color: var(--color-selected-start-border);
}

.board-tile.selected-end {
    background-color: var(--color-selected-end-base);
    box-shadow: 0 0 8px 3px var(--color-selected-end-shadow);
    border-color: var(--color-selected-end-border);
}

.board-tile.highlighted,
.board-tile.selected-start,
.board-tile.selected-end {
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 10px;
    background-color: var(--color-selected-highlighted-base);
}