.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 30px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.boardContainer {
    display: grid;
}

.board-tile {
    width:75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-coloured-tile {
    background-color: rgb(50,50,50);
}

.light-coloured-tile {
    background-color: rgb(200,200,200);
}

.board-tile.highlighted {
    background-color: aqua;
}

.board-tile.selected-start {
    background-color: green;
}

.board-tile.selected-end {
    background-color: red;
}