* {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: fixed;
    /* overflow: auto; */
    align-items: stretch;
    justify-content: space-between;
    background-color: #fdfdfb;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5e7186;
    padding: 20px;
}

.head-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.title {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fdfdfb;
}

.instruction-text {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fdfdfb;
}

.scores {
    align-self: flex-end;
    display: flex;
    gap: 100px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fdfdfb;
}

.currentScore::before,
.topScore::before {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    
}

.currentScore::before {
    content: "Current Score";
}

.topScore::before {
    content: "High Score";
}

.container {
    display: grid;
    gap: 5px;
    padding: 30px 0px;
    background-color: #fdfdfb;
    width: min(100%, 1200px);
    align-self: center;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    gap: 10px;
    background-color: #5E7186;

}

.footer-text {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdfdfb;
}