.card {
    border: 1px solid #5E7186;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    grid-template-rows: 4fr 1fr;
    cursor:pointer;
    overflow: hidden;
    box-shadow: 3px 3px 8px 1px rgba(94, 113, 134, 0.35);
}


img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.07s ease-in-out;
}

.cardName {
    font-size: 16px;
    color: #36404d;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfb;
    transition: 0.07s ease-in-out;
    z-index: 1;
}

.card:hover img {
    transform: scale(1.1);
}

.card:hover .cardName {
    background-color: #d2c5ba;
    font-size: 17px;
}