.card {
    /* width: 150px;
    height: 250px; */
    border: 1px solid #5E7186;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    grid-template-rows: 4fr 1fr;
    cursor:pointer;
}


img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardName {
    font-size: 16px;
    color: #36404d;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfb;
}