.App {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, var(--color-light-bg), var(--color-dark-bg) 130vh);
    position: relative;
}

.App-Content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: min(100vw, 1200px);
}