.HomePage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: 80vh;
}

.HomePage>img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark-bg);
}

.HomePage>.side-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.HomePage>.side-area>.title,
.HomePage>.side-area>.header,
.HomePage>.side-area>.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
}

.HomePage>.side-area>.title {
    font-size: 60px;
}

.HomePage>.side-area>.header {
    font-size: 18px;
}

.HomePage>.side-area>.navlink {
    font-size: 24px;
    background-color: var(--color-accent);
    padding: 0.8rem 5rem;
    border-radius: 0.5rem;
    border-width: 0;
}