.item-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px;
    gap: 10px;
    box-shadow: 0px 1px 4px 1px var(--color-dark-bg-shadow),
                0px 2px 8px 2px var(--color-dark-bg-shadow),
                0px 4px 16px 4px var(--color-dark-bg-shadow);
    background-color: #ffffff;
}

.item-card>div,
.item-card>button,
.item-card>a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 16px;
}

.item-card>.item-name {
    font-size: 22px;
}

.item-card>button,
.item-card>a {
    background-color: var(--color-accent);
    color: var(--color-black);
    font-size: 16px;
    padding: 10px 8px;
    border-radius: 6px;
    border-width: 0;
    border: 2px solid var(--color-accent);
}

.item-card>a {
    background-color: #ffffff;
    border: 2px solid var(--color-dark-bg);
}