.product-list {
    width: 100%;
    display: grid;
    grid-template-rows: 50px auto;
    overflow:hidden;
}

.product-list>.heading {
    display: flex;
    gap: 40px;
    padding: 30px;
    margin-bottom:20px;
    align-items: center;
    justify-content: center;
}

.product-list>.heading>input {
    display: flex;
    font-size: 16px;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    width: min(400px, 100%);
}

.product-list>.catalogue {
    display: grid;
    padding: 0 20px;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    margin-top: 0px;
    
}