.ProductDetails {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    gap: 50px;
    padding: 80px;
}

.ProductDetails>h1 {
    grid-area: 1/1/2/-1;
    color: var(--color-black);
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ProductDetails>img {
    height: 100%;
}


.ProductDetails>.info {
    grid-area: 2/2/3/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.ProductDetails>.info>.description {
    display: flex;
    color: var(--color-black);
    font-size: 18px;
    align-items: center;
    justify-content: stretch;
}

.ProductDetails>.info>button {
    justify-self: flex-end;
    background-color: var(--color-accent);
    color: var(--color-black);
    font-size: 16px;
    padding: 10px 8px;
    border-radius: 6px;
    border-width: 0;
    border: 2px solid var(--color-accent);
}

.ProductDetails>.info>button:hover {
    background-color: var(--color-accent-light);
    border-color: var(--color-accent-light);
}

.ProductDetails>.info>button:active {
    background-color: var(--color-accent-dark);
    border-color: var(--color-accent-dark);
}

.ProductDetails>.info>.quantity-controller {
    align-self: flex-end;
    width: min(300px, 100%);
}