.PokeballProducts,
.PotionProducts {
    width: 100%;
    display: grid;
    grid-template-rows: 80px auto;
}

.PokeballProducts>.header,
.PotionProducts>.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 15px;
}