@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    /* border: 1px solid black; */
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Times New Roman', Arial, Helvetica, sans-serif;

}

:root {
    --color-lightgrey: rgb(238, 238, 238);
    --color-mediumgrey: rgb(145, 142, 136);
    --color-darkgrey: rgb(61, 60, 58);
    --color-bg: rgb(238, 233, 225);
    --color-accent: rgb(240, 192, 102);
    --color-accent-hover: rgb(250, 203, 115);
    --color-accent-active: rgb(197, 157, 82);
    --color-shadow: rgba(56, 56, 56, 0.1);

    --button-shadow-size: 1px 1px 1px 1px var(--color-shadow),
                        2px 4px 4px 1px var(--color-shadow),
                        4px 8px 8px 1px var(--color-shadow);
    --button-shadow-size-hover: 2px 2px 2px 1px var(--color-shadow),
                                4px 8px 4px 1px var(--color-shadow),
                                8px 12px 12px 1px var(--color-shadow);
    --button-shadow-size-active: 1px 1px 1px 1px var(--color-shadow),
                                1px 2px 2px 1px var(--color-shadow),
                                2px 4px 4px 1px var(--color-shadow);
    --button-shadow-size-disabled: 1px 1px 1px 1px var(--color-shadow),
                                2px 4px 4px 1px var(--color-shadow);
}

body {
    height:100vh;
    width:100vw;
    position: fixed;
    overflow: auto;
}

.container {
    height:100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    background-color: var(--color-lightgrey);
}

.main {
    padding: 50px max(15px, 16%);
    display: grid;
    grid-template-rows: auto;
    gap: 50px;
    align-content: start;
    background-color: var(--color-lightgrey);
    width: 100vw;
    transition: 0.1s ease-in-out;
}

.main.adding-book {
    width: 76vw;
}

.main>.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-title,
.header-text {
    color: var(--color-darkgrey);
}

.header-title {
    font-size: 64px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: lighter;
}

.header-text {
    font-size: 18px;
}

.header>button.button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 0.8rem 1.6rem;
    border-radius: 5px;
    box-shadow: var(--button-shadow-size);
    background-color: var(--color-accent);
    border: 0px solid black;
    color: var(--color-darkgrey);
    transition: 0.1s ease-in-out;
}

.header>button.button-add:hover {
    background-color: var(--color-accent-hover);
    box-shadow: var(--button-shadow-size-hover);
}

.header>button.button-add:active {
    background-color: var(--color-accent-active);
    box-shadow: var(--button-shadow-size-active);
}


.header>button.button-add.adding-book,
.header>button.button-add.adding-book:hover,
.header>button.button-add.adding-book:active {
    background-color: var(--color-lightgrey);
    color: var(--color-mediumgrey);
    box-shadow: var(--button-shadow-size-disabled);
}

.main>.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.6fr));
    grid-auto-rows: minmax(250px, 1fr);
    gap: 40px;
    justify-content: center;
}

.book {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--button-shadow-size);
    gap: 8%;
    transition: 0.15s ease-in-out;
    background-color: var(--color-lightgrey);
    /* background-blend-mode: overlay; */
    position: relative;
    z-index: 0;
}

.book:hover {
    box-shadow: var(--button-shadow-size-hover);
}

.book>* {
    color: var(--color-darkgrey);
    /* border:1px solid black; */
}

/* .book.book-status-read {
    background-color: var(--color-accent);
} */

.book.book-status-read>.book-background {
    opacity: 0.15;
}

.book.book-status-read>.book-button-area>button.book-button-read {
    background-color: var(--color-lightgrey);
    border: 2px solid var(--color-shadow);
}

.book>.book-background {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url("https://api.lorem.space/image/book?w=300&h=400"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
    opacity: 0.5;
    border-radius: 8px;
    transition: 0.15s ease-in-out;
}

.book:hover>.book-background {
    opacity: 0.7;
}

.book.book-status-read:hover>.book-background {
    opacity: 0.4;
}

.book>.book-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
    flex: 3;
    z-index: 2;
    
}

.book:hover>.book-title {
    font-weight: bold;
}

.book>.book-button-area {
    display: grid;
    grid-template: auto auto / 1fr;
    /* grid-template-columns: 1fr; */
    border-top: 0px solid var(--color-darkgrey);
    border-bottom: 0px solid var(--color-darkgrey);
    gap: 10px;
    justify-items: center;
    /* align-items: center; */
    /* width: max(110px, 75%); */
    width: 100%;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.10s ease-in-out;
    padding: 10px 0px;
    z-index: 2;
}

.book:hover>.book-button-area {
    border-top: 1px solid var(--color-darkgrey);
    border-bottom: 1px solid var(--color-darkgrey);
    transform: scaleY(1);
    opacity: 1;
}

.book>.book-button-area>button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    /* flex: 1; */
    width: min(100px, 100%);
   /*  width: 100%; */
    border-radius: 5px;
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
    color: var(--color-darkgrey);
    /* padding: 0.3rem 0.9rem; */
    box-sizing: border-box;
}

.book>.book-button-area>button:hover {
    background-color: var(--color-accent-hover);
}

.book>.book-button-area>button:active {
    background-color: var(--color-accent-active);
}

.book>.book-button-area>button.book-button-remove {
    background-color: var(--color-lightgrey);
    border: 2px solid var(--color-shadow)
}

.sidebar {
    background-color: var(--color-bg);
    box-shadow: -1px 0 2px 1px var(--color-shadow),
                -2px 0 4px 1px var(--color-shadow),
                -4px 0 8px 1px var(--color-shadow);

    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    /* width: calc(100vw-var(--main-width)); */
    width: 24vw;
}

.sidebar:not(.adding-book) {
    visibility: hidden;
}

.sidebar.adding-book {
    visibility: visible;
}

/* .sidebar.adding-book {
    box-shadow: -1px 0 2px 1px var(--color-shadow),
                -2px 0 4px 1px var(--color-shadow),
                -4px 0 8px 1px var(--color-shadow);
} */

.sidebar>form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 30px;
    height: 100%;
}

form>* {
    color: var(--color-darkgrey);
    /* border: 1px solid black; */
}

.form-header {
    font-size: 26px;
}

.form-text {
    font-size: 16px;
}

.form-input {
    width: 100%;
    display: flex;
    /* justify-items: flex-start; */
    align-items: center;
    gap: 5px;
    height: 35px;
}

.form-input>label {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2px;
    white-space: nowrap;
}

.form-input>input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid var(--color-darkgrey);
    height: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
}

.form-input>input[type='checkbox'] {
    margin-left: 10px;
    width: auto;
    transform: scale(1.5);
}

form.form-book-add>.book-add-buttons-area {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
}

.book-add-buttons-area>button {
    background-color: var(--color-accent);
    color: var(--color-darkgrey);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: min(100%, 200px);
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: var(--button-shadow-size);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    transition: 0.1s ease-in-out;
}

.book-add-buttons-area>button:hover {
    box-shadow: var(--button-shadow-size-hover);
}

.book-add-buttons-area>button[type='submit']:hover {
    background-color: var(--color-accent-hover);
}

.book-add-buttons-area>button:active {
    box-shadow: var(--button-shadow-size-active);
}

.book-add-buttons-area>button[type='submit']:active {
    background-color: var(--color-accent-active);
}

.book-add-buttons-area>button.book-add-cancel {
    background-color: var(--color-lightgrey);
    /* border: 1px solid var(--color-shadow); */
    /* box-shadow: none; */
}

