* {
    border: 1px solid black;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image-slider-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    position: relative;
}

.image-slider-content {
    width: 100%;
    position: relative;
    gap: 50px;
    /* display: grid;
    grid-auto-flow: column;
    overflow: visible; */
    white-space: nowrap;
    overflow: hidden;
}

button.scroll-left,
button.scroll-right {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px;
    justify-content: center;
    z-index: 1;
    opacity: 0.6;
}

button.scroll-left {
    left: 0px;
}

button.scroll-right {
    right: 0px;
}

.imageContainer {
    /* position: absolute; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    transform: translateX(0px);
}