* {
    /* border: 1px solid black; */
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-Lgrey: rgb(186, 189, 196);
    --color-bg-Dgrey: rgb(92, 94, 97);
    --color-bg-hover: rgb(126, 170, 240);
    --color-bg-focus: rgb(72, 121, 201);
    --container-width: 40%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.image-slider-container {
    display: grid;
    grid-template-columns: 1fr;
}

.content-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    position: relative;
}

.image-slider-content {
    width: 100%;
    gap: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 20px 0px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

button.scroll-left,
button.scroll-right {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 55px;
    padding: 20px 5px;
    justify-content: center;
    z-index: 1;
    opacity: 0.6;
    transition: 0.15s ease-in-out;
    color: var(--color-bg-Dgrey);
    font-size: 55px;
    background-color: var(--color-bg-Lgrey);
}

button.scroll-left:hover,
button.scroll-right:hover {
    opacity: 1;
    background-color: var(--color-bg-hover);
    color: var(--color-bg-focus);
}

button.scroll-left {
    left: 0px;
}

button.scroll-right {
    right: 0px;
}

.imageContainer {
    /*margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    transform: translateX(0px); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: center;
    align-items: center; 
    gap: 15px;
    flex-shrink: 0;
    width: var(--container-width);
    height: 100%;
    opacity: 0.5;
    transition: 0.35s ease-in-out;
}

.imageContainer:first-of-type {
    margin-left: calc(100% - var(--container-width));
}

.imageContainer:last-of-type {
    margin-right: calc(100% - var(--container-width));
}

.imageContainer.focus {
    opacity: 1;
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 300px;
    box-shadow: 2px 2px 4px 1px var(--color-bg-Lgrey),
                3px 6px 8px 1px var(--color-bg-Lgrey);
    scale: 0.85;
    transition: 0.35s ease-in-out;
}

.imageContainer.focus .image {
    box-shadow: 2px 2px 4px 1px var(--color-bg-Dgrey),
                2px 2px 10px 1px var(--color-bg-Dgrey),
                4px 4px 26px 1px var(--color-bg-Dgrey);
    scale: 1;
    z-index: 1;
}

.image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    transition: 0.35s ease-in-out;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border-width: 0;
    cursor: pointer;
    background-color: var(--color-bg-Lgrey);
}

.nav-button.nav-button-active {
    background-color: var(--color-bg-focus);
}

.nav-button:hover {
    background-color: var(--color-bg-hover);
}