.input-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    padding-bottom: 40px;
}

.input-component:last-of-type {
    padding-bottom: 0px;
}

label {
    font-size: 18px;
}

input {
    font-size: 16px;
    padding: 5px;
    /* border-radius: 5px; */
    border: 0px solid black;
    border-bottom: 1px solid lightslategray;
    outline: none;
    width: 100%;
}