.section-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

}