.section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom:  50px;
    /* border-bottom: 1px solid black; */
    position: relative;
}

.section-container:last-of-type {
    border-bottom: 0px solid lightslategray;
}

.section-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border-bottom: 1px solid black;
    padding: 5px 0px; */
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;

}